.footer{
    background:#111;
    color:#fff;
     padding:50px 7%;
}

.footer-top{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:40px;
}

.footer-top h2,
.footer-top h3{
    margin-bottom:15px;
  font-size: 1.1rem;
}


.footer-top p,
.footer-top a{
    display:block;
    color:#bbb;
    margin-bottom:10px;
    text-decoration:none;
    font-size: 0.9rem;
}

.footer-top a:hover{
    color:#ff4f87;
}

body.dark .footer {
  background: #181818;
  color: white;
}

body.dark .footer a {
  color: white;
}
